body {
   
}

.navbar-brand-logo {
    padding: 5px;
	
}


.navbar-renk {

background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */


}
.icerik {
     margin-left:auto;
    margin-right:auto;
    width:80%;
}
.logo-yazi-tipi {
    font-size: 28px;
    font-family:Calibri;
    color:white;
    margin-left:90px;
    
    }
.login-page-ozellik {

    margin-top:100px;
   

}
.yazi-yeri {
    margin-left:auto;
    margin-right:auto;
   
   
    margin-top:4px;

}
.buton-ozellik {
 
margin-top: 10px;


}
.dil-buton {
margin-right: 200px; 
margin-top: 10px;


}
.login-label {
font-size:17px;
}
.kullanici-ayar {

margin-top:10px;
vertical-align:bottom;
}
.background {
    background-repeat: no-repeat;

}

