.mGrid {   
    width:100%;   
    background-color: #fff;   
    margin: 10px auto;   
    border: solid 1px #c1c1c1;  
    border:none; 
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    color: #717171;   
    font-size:12px;
}


.mGrid th {   
    padding: 4px 2px;   
    color: #fff;   
    background-color: #1ba1b2;  
    font-size: 14px;   
    border: solid 1px #525252;
}

    .mGrid th:nth-child(2)

    {
        border:0;
        background-color:transparent;
        
    }

    .mGrid th:first-child

    {
        border:0;
        background-color:transparent;
        
    }


.mGrid .alt { background: #eaeaea;
}  
.mGrid .pgr { background: #424242;
}  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.mGrid .pgr a { color: #999; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }

   /*.footer table
    {
       padding-top:20px;

   }

   .footer td
    {
      border-width: 0;  
      padding-top:10px;
      padding-bottom:10px;

   }*/


