body,html {margin:0px;font-size:12px;font-family:arial;overflow:hidden;}
h1,h2,h3,h4,h5,h6{border-bottom:1px solid #00B4ff;}
.header {
    width:100%;
    height:50px;
    padding:8px;
    border-bottom:3px solid #012353;
    color:white;
background: #012353; /* Old browsers */
background: -moz-linear-gradient(top, #012353 0%, #012353 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#012353), color-stop(100%,#012353)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #012353 0%,#012353 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #012353 0%,#012353 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #012353 0%,#0123532 100%); /* IE10+ */
background: linear-gradient(to bottom, #012353 0%,#012353 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#012353', endColorstr='#012353 ',GradientType=0 ); /* IE6-9 */
}
.footer {
border-top:2px solid #AAA;
background:#444;
width:100%;
height:20px;
color:#FFF;
padding:4px 6px;
text-align:left;
}
.content {
width:100%;
height:510px;
overflow-x:hidden;
overflow-y:auto;
padding:0px;
}
.content .mainmenu {
min-height:510px;
width:14%;
border-right:1px solid #0024ff;
background:#F8F8F8;
float:left;
padding:6px;
}

.content .mainbody {
min-height:510px;
width:84%;
background:#F5F5F5;
padding:6px;
float:left;
}
.menubutton {
height:30px;
width:30px;
border:1px solid #AAA;
background:#F5F5F5;
float:left;
padding:4px;
display:none;
margin-top:60px;
}
.menubutton hr {
border:1px solid #00B4ff;
  }
.menubutton:hover {background:#F0F0F0;}
.menubutton:hover hr {border:1px solid #0084ff;}
.menuhiddencontainer, .menuhidden {display:none;margin-top:13px;float:left;width:100%;}
.mainmenu li, .menuhidden li {width:92%;background:#012353;padding:8px;border-bottom:1px solid #CECECE;list-style-type:none;color:white;}
.mainmenu li a, .menuhidden li {text-decoration:none;color:white;}
.mainmenu li:hover, .menuhidden:hover li {background:#00ff21;}
.mainmenu li:hover a,.menuhidden li:hover a {color:#4280B2;}

.tabmenu { 
    background:transparent; 
    border: none; 
} 
.tabmenu .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
.tabmenu .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
.tabmenu .ui-tabs-nav .ui-state-active { 
    background: transparent url(uiTabsArrow.png) no-repeat bottom center; 
    border: none; 
} 
.tabmenu .ui-tabs-nav .ui-state-default a { 
    color:#AAA;
} 
.tabmenu .ui-tabs-nav .ui-state-active a { 
    color:#012353;
}


.KisiTable

{
   width:100%;
   border:0px;
   
   
}


.KisiTable td
{
  padding:2px 3px;
  border:0px;
  white-space:normal;
  position:relative;
  

}
.KisiTableHizalama 

{
   width:100%;
   min-height:1000px;
   
}
input[type='text']
 {
    padding:2px 3px;
    border:1px solid none;
    width:100%;
    height:20px;
 }
textarea 
{
    padding:2px 3px;
    border:1px solid #0024ff;
    width:100%;
    height:80px;
}
#Table2
 {
    display:none;
}

.ButtonKaydet {
    position:relative;
    bottom:5px;
    left:9px;
    width:60px;
}
.ButtonYeni {
    position:relative;
    bottom:5px;
    left:4px;
    height: 30px;
}
   
.ButtonSil {
    position:relative;
    bottom:5px;
    left:14px;
    height:20px;
    width:60px;

}

.ButtonGeriDon {
    position:relative;
    bottom:5px;
    left:22px;
    height:20px;
    width:150px;
}
.TextBoxArama {
    position:relative;
    bottom:745px;
    left:234%;
    height:20px;
    width:250px;
    border-color:#012353;

}
.ButtonArama {
    position:relative;
    bottom:775px;
    left:480%;
    width:80%;
    height:30px;
    background: #012353;
    color:white;
   
}
.GridGeri {
    background: #012353;
    color:white;
     width:10%;
    height:30px;
}
.EvrakListesiArama {
    position:relative;
    bottom:5px;
    left:1%;
    top:20px;
    border-color:#012353;


}
.EvrakListesiButonArama {
    position:relative;
    bottom:5px;
    top:20px;
    left:2%;
    width:180px;
    height:30px;
    background: #012353;
    color:white;
}
.EvrakListesiDurum {
    position:relative;
    bottom:5px;
    top:20px;
    left:10%;
    width:7%;
    height:30px;
    
}
.EvrakListesiDropdownDurum {
    position:relative;
    bottom:5px;
    top:20px;
    left:11%;
    width:180px;
    height:30px;
   

}
.LabelEvrakListesiBaslangic {
    position:relative;
    bottom:5px;
    top:7px;
    left:20%;
    width:7%;
    height:20px;

}
.EvrakListesiBaslangicTarih {
    position:relative;
    bottom:5px;
    top:7px;
    left:21%;
    width:15%;
    height:20px;
}
.LabelEvrakListesiBitis {
    position:relative;
    bottom:5px;
    left:55.9%;
    width:15%;
    height:20px;
}
.EvrakListesiBitisTarih {
    position:relative;
    bottom:5px;
    left:59.7%;
    width:15%;
    height:20px;
}
.UrunHizmetDetayli {
    position:relative;
    bottom:20px;
    left:66.7%;
    width:15%;
    height:50px;
    background: #012353;
    color:white;

}

.ListeAdiGridView { width: 70%; background-color:white; margin: 40px 0 35px 200px; border: solid 1px black; border-collapse:collapse; }
.ListeAdiGridView td { padding: 2px; border: solid 1px #012353; color:black}
.ListeAdiGridView th { padding: 4px 2px; color:white; background: #012353 url(grd_head.png) repeat-x top; border-left: solid 1px #012353; font-size: 0.9em; }
.ListeAdiGridView .alt { background: #000 url(grd_alt.png) repeat-x top; }
.ListeAdiGridView .pgr {background: #012353 url(grd_pgr.png) repeat-x top; }
.ListeAdiGridView.pgr table { margin: 5px 0; }
.ListeAdiGridView.pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #f50909;font-weight: bold; color: #f30b0b; line-height: 12px; }   
.ListeAdiGridView.pgr a { color: #012353; text-decoration: none; }
 .ListeAdiGridView.pgr a:hover { color: #f22323; text-decoration: none; }

.MenuDizayn li {
    padding: 12px 16px;
    background: #012353;
    width: 170px;
    list-style: none;
    border-bottom: 1px solid #808080;
    margin-left: -46px;
    position:relative;
    bottom:17px;
   
   
}
.MenuDizayn li a {
    color: white;
    text-decoration: none;
    
}
 .MenuDizayn li a:hover {
        color:#012353;
    }
 .MenuDizayn li:hover {
        background-color:#11ed0e;
    }



.Aktif {
    background-color:#11ed0e;
    color:#012353;
}
.LoginMenu {
    margin-top:25px;
 }
    .LoginMenu .AnaSayfaButton {
      height:30px;
       margin-right:1%;
       background-color:#012353;
       color:white;
       border:1px solid white;
    }
    .LoginMenu .Urunlerimiz {
      height:30px;
       margin-right:1%;
       background-color:#012353;
       color:white;
       border:1px solid white;
    }
    .LoginMenu .DetayliBilgiAlin {
      height:30px;
      margin-right:1%;
      background-color:#012353;
      color:white;
      border:1px solid white;
      }
    .LoginMenu .AnaSayfaButton:hover {
        background:#13d410;
    }
    .LoginMenu .Urunlerimiz:hover {
        background:#13d410;
    }
    .LoginMenu .DetayliBilgiAlin:hover {
        background:#13d410;
    }
   .LoginMenuGiris .GirisButton:hover {
       background:#13d410;
 }

    .LoginMenuGiris {
        position:relative;
        left:30%;
        bottom:30px;

     }
        .LoginMenuGiris .GirisButton {
            height:25px;
            width:10%;
            position:relative;
            left:15%;
            background-color:#012353;
            color:white;
            border:1px solid white;
        }
        .LoginMenuGiris .TextBoxSifre {
            position:relative;
            left:12%;
        }
         .LoginMenuGiris .LabelSifre {
            position:relative;
            left:11%;
        }
        .LoginMenuGiris .TextBoxKullaniciKodu {
            position:relative;
            left:9%;
        }
        .LoginMenuGiris .LabelKullaniciKodu {
            position:relative;
            left:8%;
        }
        .LoginMenuGiris .TextBoxTicariKodu {
             position:relative;
             left:6%;
        }
        .LoginMenuGiris .LabelTicariKodunuz {
            position:relative;
            left:5%;
        }
      

    
    
.Logo {
   position:relative;
   left:5.5%;
   top:10px;
}





/* =============================================
----------------- ALAN ------------------
==============================================*/
.ALAN1 {width:8%;float:left;margin-left:10px;min-height:10px;}
.ALAN2 {width:16%;float:left;margin-left:10px;min-height:10px;}
.ALAN3 {width:24%;float:left;margin-left:10px;min-height:10px;}
.ALAN4 {width:32%;float:left;margin-left:10px;min-height:10px;}
.ALAN5 {width:40%;float:left;margin-left:10px;min-height:10px;}
.ALAN6 {width:48%;float:left;margin-left:10px;min-height:10px;}
.ALAN7 {width:56%;float:left;margin-left:10px;min-height:10px;}
.ALAN8 {width:64%;float:left;margin-left:10px;min-height:10px;}
.ALAN9 {width:72%;float:left;margin-left:10px;min-height:10px;}
.ALAN10 {width:80%;float:left;margin-left:10px;min-height:10px;}
.ALAN11 {width:88%;float:left;margin-left:10px;min-height:10px;}
.ALAN12 {width:96%;float:left;margin-left:10px;min-height:10px;}



/* =============================================
----------------- ADRES-GRÝDVÝEW(COMPANY) -------
==============================================*/
.gridDivAdres { position:relative; right:1%; width:132%; background-color:black; margin: 5px 0 10px 0; /*border: solid 1px #525252;*/ border-collapse:collapse; }
.gridDivAdres td { padding:2px 15px; border: solid 1px #012353; color:black}
.gridDivAdres th { padding: 4px 2px; color:white; background: #012353 url(grd_head.png) repeat-x top; border-left: solid 1px #012353; font-size: 0.9em; }
.gridDivAdres .alt { background: #000 url(grd_alt.png) repeat-x top; }
.gridDivAdres .pgr {background: #012353 url(grd_pgr.png) repeat-x top; }
.gridDivAdres.pgr table { margin: 5px 0; }
.gridDivAdres.pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #f50909;font-weight: bold; color: #f30b0b; line-height: 22px; }   
.gridDivAdres.pgr a { color: #012353; text-decoration: none; }
.gridDivAdres.pgr a:hover { color: #f22323; text-decoration: none; }

/* =============================================
----------------- ADRES-GRÝDVÝEW(KÝÞÝ) -------
==============================================*/
.gridDivAdresKisi { position:relative; right:1%; width:139%; background-color:black; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; }
.gridDivAdresKisi td { padding:2px 15px; border: solid 1px #012353; color:black}
.gridDivAdresKisi th { padding: 4px 2px; color:white; background: #012353 url(grd_head.png) repeat-x top; border-left: solid 1px #012353; font-size: 0.9em; }
.gridDivAdresKisi .alt { background: #000 url(grd_alt.png) repeat-x top; }
.gridDivAdresKisi .pgr {background: #012353 url(grd_pgr.png) repeat-x top; }
.gridDivAdresKisi.pgr table { margin: 5px 0; }
.gridDivAdresKisi.pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #f50909;font-weight: bold; color: #f30b0b; line-height: 22px; }   
.gridDivAdresKisi.pgr a { color: #012353; text-decoration: none; }
.gridDivAdresKisi.pgr a:hover { color: #f22323; text-decoration: none; }

/* =============================================
-----------------Adres Ekle Buton(COMPANY) -------
==============================================*/
.AdresEkle {
    width:18%;
    height:25px;
    background-color:#012353;
    color:white;

}
/* =============================================
-----------------Adres Ekle Buton(KÝÞÝ) -------
==============================================*/
.AdresEkleKisi {
    width:18%;
    height:25px;
    background-color:#012353;
    color:white;

}



/* =============================================
----------------- TELEFON-GRÝDVÝEW(COMPANY) -------
==============================================*/
.gridDivTelefon { position:relative; left:36%; width:65%; background-color:black; margin: 5px 0 10px 0; /*border: solid 1px #525252;*/ border-collapse:collapse; }
.gridDivTelefon td { padding:2px 15px; border: solid 1px #012353; color:black}
.gridDivTelefon th { padding: 4px 2px; color:white; background: #012353 url(grd_head.png) repeat-x top; border-left: solid 1px #012353; font-size: 0.9em; }
.gridDivTelefon .alt { background: #000 url(grd_alt.png) repeat-x top; }
.gridDivTelefon .pgr {background: #012353 url(grd_pgr.png) repeat-x top; }
.gridDivTelefon.pgr table { margin: 5px 0; }
.gridDivTelefon.pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #f50909;font-weight: bold; color: #f30b0b; line-height: 22px; }   
.gridDivTelefon.pgr a { color: #012353; text-decoration: none; }
.gridDivTelefon.pgr a:hover { color: #f22323; text-decoration: none; }

/* =============================================
----------------- TELEFON-GRÝDVÝEW(KÝÞÝ) -------
==============================================*/
.gridDivTelefonKisi { position:relative; left:300%; bottom:50px; width:138%; background-color:black; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; }
.gridDivTelefonKisi td { padding:2px 15px; border: solid 1px #012353; color:black}
.gridDivTelefonKisi th { padding: 4px 2px; color:white; background: #012353 url(grd_head.png) repeat-x top; border-left: solid 1px #012353; font-size: 0.9em; }
.gridDivTelefonKisi .alt { background: #000 url(grd_alt.png) repeat-x top; }
.gridDivTelefonKisi .pgr {background: #012353 url(grd_pgr.png) repeat-x top; }
.gridDivTelefonKisi.pgr table { margin: 5px 0; }
.gridDivTelefonKisi.pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #f50909;font-weight: bold; color: #f30b0b; line-height: 22px; }   
.gridDivTelefonKisi.pgr a { color: #012353; text-decoration: none; }
.gridDivTelefonKisi.pgr a:hover { color: #f22323; text-decoration: none; }

/* =============================================
----------------- Telefon Ekle Buton(COMPANY)-----------
==============================================*/

.TelefonEkle {
    width:18%;
    height:25px;
    background-color:#012353;
    color:white;
    position:relative;
    left:36%;

}
/* =============================================
----------------- Telefon Ekle Buton(KÝÞÝ)-----------
==============================================*/

.TelefonEkleKisi {
    width:40%;
    height:25px;
    background-color:#012353;
    color:white;
    position:relative;
    left:290%;
    bottom:50px;

}

 
.gridEn
{
    width:105%;
    font-size:12px;
    
}

